
body {
  font-family: Arial, sans-serif;
  background-color: #009975;
  margin: 0;
  padding: 0;
}
.container {
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1200px;
}
h1 {
  text-align: center;
  color: #333;
}
.natal-chart {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.planet-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.planet-card h3 {
  margin: 0;
  color: #007EA1;
}
.planet-card p {
  margin: 5px 0;
  color: #555;
}
.planet-icon {
  font-size: 30px;
  margin-bottom: 10px;
  color: #333;
}

form {
  margin-bottom: 20px;
}
label {
  display: block;
  margin-top: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.column {
  flex: 1;
  padding: 15px;
  box-sizing: border-box;
  text-align: center;
}
.legacy-rules-row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.legacy-rules-column {
  flex: 1;
  padding: 15px;
  box-sizing: border-box;
  max-width: 300px;
}
.legacy-rules-column ol {
  padding-left: 20px;
  word-wrap: break-word;
}
.legacy-rules-column ol li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;
  word-wrap: break-word;
}

.legacy-rules-column ol li label {
  margin-left: 5px;
  white-space: normal;
}

input[type="checkbox"] {
  margin-right: 5px;
}
.legacy-rules-title {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}


.form-and-iframe {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.form-container {
    flex: 1;
    max-width: 45%; /* Adjust the width of the form container */
    margin-right: 2%;
}

form {
  width: 25%;
}

iframe {
  flex:1;
  width: 50%;
  height: 500px;
  border: none;
}


.error {
  color: red;
  display: none;
}
