<!DOCTYPE html>
<html>
<head>
    <title>Sims 4 Natal Chart</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/plotly.js@2.34.0/dist/plotly.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dash-renderer@1.20.1/build/dash_renderer.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dash-core-components@2.14.1/dash_core_components/dash_core_components.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dash-html-components@2.0.18/dash_html_components/dash_html_components.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dash-table@5.2.11/dash_table/bundle.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Sims 4 Natal Chart</h1>
        <form method="POST" onsubmit="return validateForm()">
            <label for="sim_age">Sim Age:</label>
            <input type="number" id="sim_age" name="sim_age" required><br>

            <label for="birth_location">Birth Location:</label>
            <select id="birth_location" name="birth_location" required>
                <option value="Willow Creek">Willow Creek</option>
                <option value="Newcrest">Newcrest</option>
                <option value="Oasis Springs">Oasis Springs</option>
                <option value="Granite Falls">Granite Falls</option>
                <option value="Magnolia Promenade">Magnolia Promenade</option>
                <option value="Windenburg">Windenburg</option>
                <option value="San Myshuno">San Myshuno</option>
                <option value="Forgotten Hollow">Forgotten Hollow</option>
                <option value="Brindleton Bay">Brindleton Bay</option>
                <option value="Selvadorada">Selvadorada</option>
                <option value="Del Sol Valley">Del Sol Valley</option>
                <option value="Strangerville">Strangerville</option>
                <option value="Sulani">Sulani</option>
                <option value="Glimmerbrook">Glimmerbrook</option>
                <option value="Britechester">Britechester</option>
                <option value="Evergreen Harbor">Evergreen Harbor</option>
                <option value="Mt. Komorebi">Mt. Komorebi</option>
                <option value="Henford-On-Bagley">Henford-On-Bagley</option>
                <option value="Taratosa">Taratosa</option>
                <option value="Moonwood Mill">Moonwood Mill</option>
                <option value="Copperdale">Copperdale</option>
                <option value="San Sequoia">San Sequoia</option>
                <option value="Chesnut Ridge">Chesnut Ridge</option>
            </select><br>

            <label for="coordinates">Coordinates (x, y, z):</label>
            <input type="text" id="coordinates" name="coordinates" oninput="validateCoordinates()" required>
            <span id="coordinates-error" class="error">Invalid format. Use "x, y, z".</span><br>

            <label for="current_sim_day">Current Sim Day:</label>
            <input type="number" id="current_sim_day" name="current_sim_day" required><br>

            <label for="sim_year_days">Sim Year Days:</label>
            <input type="number" id="sim_year_days" name="sim_year_days" min="4" required><br>
            
            <label for="sim_season_days">Sim Season Days:</label>
            <input type="number" id="sim_season_days" name="sim_season_days" min="1" required><br>

            <button type="submit">Submit</button>
        </form>

        {% if results %}
            <h2>Results</h2> 
            <p>Birth Date: {{ results.Natal_Chart.formatted_birthdate }}</p>

            <div id="natal-chart-container">
                <!-- Placeholder for the Dash app's graph -->
                <iframe src="/dashboard/" style="width: 100%; height: 500px; border: none;"></iframe>
            </div>

            <div class="row">
                <div class="column">
                    <h3>Traits</h3>
                    <p>{{ results.Traits | join(', ') }}</p>
                </div>
                <div class="column">
                    <h3>Aspirations</h3>
                    <p>{{ results.Aspirations | join(', ') }}</p>
                </div>
                <div class="column">
                    <h3>Careers</h3>
                    <p>{{ results.Careers | join(', ') }}</p>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <h3>Best Skills</h3>
                    <p>{{ results.Best_Skills | join(', ') }}</p>
                </div>
                <div class="column">
                    <h3>Worst Skills</h3>
                    <p>{{ results.Worst_Skills | join(', ') }}</p>
                </div>
            </div>
            <div class="legacy-rules-title">
                <h3>Legacy Rules</h3>
            </div>
            <div class="legacy-rules-row">
                {% set rules_list = results.Rules | list %}
                {% set num_rules = rules_list | length %}
                {% set num_columns = 3 %}
                {% set rules_per_column = (num_rules / num_columns) | round(0, 'ceil') | int %}
    
                {% for i in range(num_columns) %}
                    <div class="legacy-rules-column">
                        <ol start="{{ i * rules_per_column + 1 }}">
                            {% for rule in rules_list[i * rules_per_column:(i + 1) * rules_per_column] %}
                                <li>
                                    <input type="checkbox" id="rule-{{ loop.index }}" name="rule-{{ loop.index }}">
                                    <label for="rule-{{ loop.index }}">{{ rule }}</label>
                                </li>
                            {% endfor %}
                        </ol>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

</body>
</html>
